$primary: #ffffff;
$secondary: #c4c4c4;
$display-color: #3a405a;
$sub-color: #aec5eb;
$sucess: #82cb60;
$optioning: #e1774b;

#root{
    height: 100vh;
    width: 100vw;
    .page-container {
        user-select: none;
        width: 100%;
        height: 100%;
        background-color: $primary;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8,1fr);
        gap: 1rem;
        color: $display-color;
        font-family: "Roboto Mono";
        font-style: normal;
        font-weight: 700;
    }
}
