@import "../../color.scss";

.page-container {
    user-select: none;
    background-color: $primary;
    display: grid;
    gap: 20px;
    // a:setting , b:area-manage , c:account-manage
    // d:room-order , e:room-info , f:history , g:meeting-manage, x:book-now
    // grid-template-areas:
    //     ". a . . . . . . b c x ."
    //     ". d d d d d e e e f f ."
    //     ". d d d d d e e e f f ."
    //     ". d d d d d e e e f f ."
    //     ". d d d d d g g g g g ."
    //     ". d d d d d g g g g g ."
    //     ". d d d d d g g g g g ."
    //     ". . . . . . . . . . . .";
    .main-header {
        gap: inherit;
        grid-row: 1;
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        #header-area {
            grid-column: 10;
        }
        #header-account {
            grid-column: 11;
        }
        #header-reserve {
            grid-column: 12;
        }
        .setting {
            grid-column: 2;
            width: 40px;
            height: 40px;
            z-index: 2;
            margin-left: -50px;
        }
        .open-rotate-animation {
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation: rotation-on 2s;
        }
        .close-rotate-animation {
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation: rotation-off 2s;
        }

        @keyframes rotation-on {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        @keyframes rotation-off {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(-360deg);
            }
        }
    }
    .main-body{
        gap: inherit;
        grid-column: 1/13;
        grid-row: 2/9;
        display:grid;
        grid-template: inherit;
        grid-template-areas: 
        ". . . . . . . . . . . ."
        ". d d d d d e e e f f ."
        ". d d d d d e e e f f ."
        ". d d d d d e e e f f ."
        ". d d d d d g g g g g ."
        ". d d d d d g g g g g ."
        ". d d d d d g g g g g ."
        ". . . . . . . . . . . .";
        color: white;
        span{
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: 'Roboto Mono';
            font-size: 60px;
        }
        #block-reserve{
            grid-area: d;
            background-color: #3A4660;
        }
        #block-info{
            grid-area: e;
            background-color: #C9AF98;
        }
        #block-history{
            grid-area: f;
            background-color:rgba(132, 80, 7, 0.7);;
        }
        #block-manage{
            grid-area: g;
            background-color: #ED8A63;
        }
    }

    .side-bar {
        height: 100vh;
        grid-column: 1/4;
        transform: translate(-100%);
        background-color: $secondary;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
        position: relative;
        #notify {
            grid-column: 3 /8;
            grid-row: 3;
            font-family: "Roboto Mono";
            font-style: normal;
            font-weight: 700;
            font-size: 2.4rem;
            color: $display-color;
            text-align: center;
        }
        #change-pw {
            grid-column: 3 /8;
            grid-row: 4;
            font-family: "Roboto Mono";
            font-style: normal;
            font-weight: 700;
            font-size: 2.4rem;
            color: $display-color;
            text-align: center;
        }
        #setting-title {
            position: absolute;
            grid-column: 4/12;
            font-family: "Roboto Mono";
            font-style: normal;
            font-weight: 700;
            font-size: 9rem;
            color: $display-color;
            opacity: 0.3;
            bottom: 0;
            right: 0;
        }
    }
    .open-slide {
        transform: translate(0);
        animation: slide-open 2s;
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        @keyframes slide-open {
            0% {
                transform: translate(-100%);
            }
            100% {
                transform: translate(0);
            }
        }
    }
    .close-slide {
        transform: translate(-100%);
        animation: slide-close 1.2s;
        @keyframes slide-close {
            0% {
                transform: translate(0);
            }
            100% {
                transform: translate(-100%);
            }
        }
    }
}
